{% extends 'staffBase.html.twig' %}

{% block title %}Notre Staff{% endblock %}

{% block body %}
<div class="bg-dark members" style="padding-top: 3rem !important; padding-bottom: 300px !important;">
    <div class="container">
        <button type="button"><a href="{{ path('Accueil') }}">Revenir a l'Accueil</a></button>
        <div class="row justify-content-center mb-3">
            <div class="col-md-7 text-center">
                <h1 class="display-5 mb-3">Rencontrer notre Staff</h1>
                <p class="lead">Voici l'équipe en charge de nos différents projets !</p>
            </div>
        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-6">
                <div class="card shadow border-0 mb-4">
                    <!-- Row -->
                    <div class="row no-gutters">
                        <div class="col-md-5 pro-pic"
                            style="background:url(https://img.phenixmg.fr/6nclna.png) center center no-repeat">
                            <div class="card-img-overlay">
                                <ul class="list-inline position-relative text-center">
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 bg-white">
                            <div class="p-4">
                                <h6 class="mb-3">Patouuu</h6>
                                <p>Administrateur (créateur) PhénixMG & Sys-Admin des bots (Patouuu , Patouuu Giveaway , SpotiTou , Patouuu Ticket's). Développeur & Configurateur sur plusieurs projets en rapport avec PhénixMG.
                                </p>
                                <div class="col-md-12 text-center">
                                    <ul class="social-network social-circle">
                                        <li><a href="https://discord.gg/BpPWaQq" class="icoFacebook" title="Facebook"><i
                                                    class="fa-brands fa-discord"></i></a></li>
                                        <li><a href="https://steamcommunity.com/id/patoutv/" class="icoTwitter" title="Twitter"><i
                                                    class="fa-brands fa-steam"></i></a></li>
                                        <li><a href="https://github.com/Patouuu" class="icoJoomla" title="Joomla"><i
                                                    class="fa-brands fa-github"></i></a></li>
                                        <li><a href="https://www.twitch.tv/patoutv" class="icoLinkedin" title="Linkedin"><i
                                                    class="fa-brands fa-twitch"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Row -->
                </div>
            </div> <!-- column  -->
            <div class="col-lg-6">
                <div class="card shadow border-0 mb-4">
                    <!-- Row -->
                    <div class="row no-gutters card-shadow">
                        <div class="col-md-5 pro-pic"
                            style="background:url(https://img.phenixmg.fr/re1ny1.jpg) center center no-repeat">
                            <div class="card-img-overlay">
                                <ul class="list-inline position-relative text-center">
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 bg-white">
                            <div class="p-4">
                                <h6 class="mb-3">Alexandre</h6>
                                <p>Créateur de bot tel que Fujin et Kashir et Créateur de l'application Portal. Développeur du bot Patouuu. Administrateur et Sys-Admin chez PhénixMG. Roleplayer Discord a temps perdus
                                </p>
                                <div class="col-md-12 text-center">
                                    <ul class="social-network social-circle">
                                        <li><a href="https://discord.gg/erdBbjYrQP" class="icoFacebook" title="Facebook"><i
                                                    class="fa-brands fa-discord"></i></a></li>
                                        <li><a href="https://steamcommunity.com/profiles/76561198106379299" class="icoTwitter" title="Twitter"><i
                                                    class="fa-brands fa-steam"></i></a></li>
                                        <li><a href="https://github.com/AlexandreSama" class="icoJoomla" title="Joomla"><i
                                                    class="fa-brands fa-github"></i></a></li>
                                        <li><a href="https://www.twitch.tv/alexandreshan" class="icoLinkedin" title="Linkedin"><i
                                                    class="fa-brands fa-twitch"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Row -->
                </div>
            </div> <!-- column  -->
        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-6">
                <div class="card card-shadow border-0 mb-4">
                    <!-- Row -->
                    <div class="row no-gutters shadow">
                        <div class="col-md-5 pro-pic"
                            style="background:url('https://img.phenixmg.fr/89df7g.jpg') center center no-repeat">
                            <div class="card-img-overlay">
                                <ul class="list-inline position-relative text-center">
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-instagram"></i></a></li>
                                    <!-- <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-behance"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 bg-white">
                            <div class="p-4">
                                <h6 class="mb-3">Cyril59310</h6>
                                <p>Sys-Admin des bots (Patouuu Ticket's , Spotitou) & Administrateur PhénixMG. Développeur de plusieurs projets en rapport avec PhénixMG.
                                </p>
                                <div class="col-md-12 text-center">
                                    <ul class="social-network social-circle">
                                        <li><a href="https://discord.gg/BpPWaQq" class="icoFacebook" title="Facebook"><i
                                                    class="fa-brands fa-discord"></i></a></li>
                                        <li><a href="https://steamcommunity.com/id/cyril59310" class="icoTwitter" title="Twitter"><i
                                                    class="fa-brands fa-steam"></i></a></li>
                                        <li><a href="https://github.com/cyril59310" class="icoJoomla" title="Joomla"><i
                                                    class="fa-brands fa-github"></i></a></li>
                                        <!-- <li><a href="#" class="icoLinkedin" title="Linkedin"><i
                                                    class="fa-brands fa-twitch"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Row -->
                </div>
            </div> <!-- column  -->
            <!-- <div class="col-lg-6">
                <div class="card shadow mb-4"> -->
                    <!-- Row -->
                    <!-- <div class="row no-gutters card-shadow">
                        <div class="col-md-5 pro-pic"
                            style="background:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg) center center no-repeat">
                            <div class="card-img-overlay">
                                <ul class="list-inline position-relative text-center">
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                            class="text-decoration-none d-block text-white px-1"><i
                                                class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 bg-white">
                            <div class="p-4">
                                <h6 class="mb-3">???</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                                <div class="col-md-12 text-center">
                                    <ul class="social-network social-circle">
                                        <li><a href="#" class="icoFacebook" title="Facebook"><i
                                                    class="fa-brands fa-discord"></i></a></li>
                                        <li><a href="#" class="icoTwitter" title="Twitter"><i
                                                    class="fa-brands fa-steam"></i></a></li>
                                        <li><a href="#" class="icoJoomla" title="Joomla"><i
                                                    class="fa-brands fa-github"></i></a></li>
                                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i
                                                    class="fa-brands fa-twitch"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    <!-- </div> 
                </div>
            </div>  -->
        </div>
    </div>
</div>
{% endblock %}
